#a 
{
    background-color: #d3d0d0;
    width: 960px;
    height: 100px;
    position: relative;
    margin: 0px auto;
    color: gray;

    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    border:1px solid gray ;
} 

#b {

    background-color: #d3d0d0;
    width: 200px;
    height: 600px;
    /* position: relative; */
    margin:  auto 194px;
    color: gray;

    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-align: left;
    -ms-flex-align: left;
    -webkit-align-items: left;
    align-items: center;
    justify-content: center;
    border:1px solid gray ;
}

#c {
    background-color: #d3d0d0;
    width: 380px;
    height: 200px;
    margin: -602px auto;
    color: gray;
    margin-left: 395px;   

    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    border:1px solid gray ;
}

#d {
    background-color: #940606;
    width: 380px;
    height: 200px;
    margin: -602px auto;
    color: gray;
    margin-left: 550px;   

    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    border:1px solid gray ;
    
}
